:root{
    --bd-purple: #4c0bce;
    --bd-violet: #012970;
    --bd-accent: #ffe484;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bd-accent-rgb: 255, 228, 132;
    --bd-pink-rgb: 214, 51, 132;
    --bd-teal-rgb: 32, 201, 151;
    --bd-violet-bg: var(--bd-violet);
    --bd-toc-color: var(--bd-violet);
    --bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), .1);
    --bd-callout-link: 10, 88, 202;
    --bd-callout-code-color: #ab296a;
    --bd-pre-bg: var(--bs-tertiary-bg);
}

:root [data-bs-theme=dark]{
    --bd-violet: #c4cee0;
    --bd-toc-color: var(--bd-violet);
}

a {
    color: #4582ec;
}
a:hover {
    color: #255dbe;
}

a .hiding {
    margin-left: 0.25rem;
    color: #fff0;
    transition: .2s;
}

a:hover .hiding {
    color: var(--bs-emphasis-color);
    transition: .2s;
}

a:hover {
    text-decoration: none;
}

main a,
main button,
main h2,
main h3,
main h4,
main [tabindex="0"] {
    scroll-margin-top: 80px;
    scroll-margin-bottom: 100px
}

.animate-img {
    position: relative;
    transition: 0.2s ease-in-out;
    object-fit: contain;
    max-height: 400px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    border-radius: 0.5rem;
    z-index: 996;
}

@media (prefers-reduced-motion: reduce) {
    .animate-img {
        transition: none
    }
}

.animate-img:hover {
    transform: scale(1.04);
    border-radius: 0.5rem;
}
.animate-img:active {
    transform: scale(2);
    border-radius: 0.5rem;
    z-index: 1000;
}
.back-to-top {
    background-color: var(--bs-primary);
}

.bd-toc {
    grid-area: toc
}

.bd-content {
    grid-area: content;
    min-width: 1px
}

@media (min-width: 992px) {
    .bd-toc {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        right: 0;
        z-index: 2;
        height: calc(100vh - 7rem);
        overflow-y: auto
    }
}

.bd-toc nav {
    font-size: .875rem
}

.bd-toc nav ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.bd-toc nav ul ul {
    padding-left: 1rem
}

.bd-toc nav a {
    display: block;
    padding: .125rem 0 .125rem .75rem;
    color: inherit;
    text-decoration: none;
    border-left: .125rem solid transparent;
    transition: 0.15s;
}

.bd-toc nav a:hover,
.bd-toc nav a.active {
    color: var(--bd-toc-color);
    border-left-color: var(--bd-toc-color)
}

.bd-toc nav a.active {
    font-weight: 500
}

.bd-toc nav a code {
    font: inherit
}

.bd-toc-toggle {
    display: flex;
    align-items: center
}

@media (max-width: 575.98px) {
    .bd-toc-toggle {
        justify-content: space-between;
        width: 100%
    }
}

@media (max-width: 767.98px) {
    .bd-toc-toggle {
        color: var(--bs-body-color);
        border: 1px solid var(--bs-border-color);
        border-radius: var(--bs-border-radius)
    }

    .bd-toc-toggle:hover,
    .bd-toc-toggle:focus,
    .bd-toc-toggle:active,
    .bd-toc-toggle[aria-expanded="true"] {
        color: var(--bd-violet);
        background-color: var(--bs-body-bg);
        border-color: var(--bd-violet)
    }

    .bd-toc-toggle:focus,
    .bd-toc-toggle[aria-expanded="true"] {
        box-shadow: 0 0 0 3px rgba(var(--bd-violet-rgb), 0.25)
    }
}

@media (max-width: 767.98px) {
    .bd-toc-collapse nav {
        padding: 1.25rem 1.25rem 1.25rem 1rem;
        background-color: var(--bs-tertiary-bg);
        border: 1px solid var(--bs-border-color);
        border-radius: var(--bs-border-radius)
    }
}

@media (min-width: 768px) {
    .bd-toc-collapse {
        display: block !important
    }
}

.bd-content>h2,
.bd-content>h3,
.bd-content>h4 {
    --bs-heading-color: var(--bs-emphasis-color);
}

.bd-content>h2:not(:first-child),
.bd-content>h3,
.bd-content>h4 {
    margin-top: 2rem;
}

.read-more {
    max-height: 200px;
    overflow-y: hidden;
    box-shadow: 0px -50px 50px -50px rgba(0, 0, 0, 0.7) inset;
    transition: 1s ease-in-out;
}
.read-more.expand {
    max-height: 800px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) inset;
    overflow-y: scroll;
}
.read-more-button {
    display: grid;
}
.read-more-button button{
    translate: 0 -2rem;
    display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.125rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: 0.15s;
    rotate: 0deg;
}
.read-more.expand + .read-more-button button {
    rotate: 180deg;
}
.read-more-button button:hover{
    color: #0007;
}

.text-justify {
    text-align: justify !important;
}
.font-weight-bold {
    font-weight: 700;
}

.documentations {
    color: var(--secondary-500);
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.documentations h2, .documentations h3, .documentations h4 {
    color: var(--bs-primary);
    font-family: var(--bs-btn-font-family);
    font-weight: 400;
}

.badge-warning {
    background-color: var(--bs-warning);
}

.badge-secondary {
    background-color: var(--bs-secondary);
}

.table {
    --bs-table-bg: #fff0;
}


.codeblock {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 275px;
    min-height: 40px;

    background-color: #01297007;
    border-radius: 0.5rem;

    padding: 0.5rem 1rem 0.5rem 0.5rem;
    transition: .2s;
}

.codeblock:hover {
    background-color: #0129700D;
}

dt,dd {
    text-align: left;
}

code {
    color: var(--bs-warning);
}